<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Loading Kirra application...</title>
  <script src="js/kirra-repository.js"></script>
  <script src="lib/lodash/lodash.min.js"></script>
  <script src="lib/moment/moment.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/angular-ui-router.js"></script>
  <script src="lib/angular-ui-uploader/uploader.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="lib/angular-bootstrap-lightbox/angular-bootstrap-lightbox.js"></script>
  <script src="lib/angular-bootstrap-toggle/angular-bootstrap-toggle.js"></script>
  <script src="lib/jquery/jquery-2.2.0.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>    
  <script src="lib/metisMenu/2.5.2/metisMenu.min.js"></script>  
  <script src="lib/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.min.js"></script>
  
  <link rel="stylesheet" href="lib/metisMenu/2.5.2/metisMenu.min.css">
  <link rel="stylesheet" href="lib/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.min.css">
  <link rel="stylesheet" href="lib/angular-bootstrap-lightbox/angular-bootstrap-lightbox.min.css">
  <link rel="stylesheet" href="lib/angular-bootstrap-toggle/angular-bootstrap-toggle.min.css">
  <link id="bootstrap_theme" rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <script src="js/kirra-ng.js"></script>
  
    <style type="text/css">
    body {
       font-size: 16px;
    }
    </style>
  
</head>
<body ng-controller="KirraBaseCtrl">
    <div ng-if="false" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
        <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 230px; height: 100px; text-align: center;">
            <div>
                <p align="center">Loading application...</p>
                <img src="images/loading66.gif">
            </div>
        </div>
    </div>

	<div ng-controller="KirraRepositoryCtrl" ng-include src="getTemplateUrl('main')"></div>
	<!-- TODO-RC allow mapping to be selectively enabled 
    <script ng-if="applicationOptions.mapSupport" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUQJBhKMkuWFXWs695GPI5Wlm22ybONs0&libraries=places" async defer>
    </script>
    -->
</body>
</html>
