<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loading Kirra application...</title>
  <script src="js/kirra-repository.js"></script>  
  <script src="lib/moment/moment.min.js"></script>  
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/angular-ui-router.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.min.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.min.css">
  <link id="bootstrap_theme" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
  <script src="js/kirra-ng.js"></script>
</head>
<body ng-controller="KirraBaseCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type || 'error'}}" close="closeAlert($index)" dismiss-on-timeout="5000" ng-cloak>{{alert.msg}}</alert>

	<div ng-controller="KirraRepositoryCtrl">
	    <div ng-include src="'templates/nav-bar.html'"></div>
	    <div ui-view></div>        
	</div>
	
	<div ng-if="false" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
	    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 230px; height: 100px; text-align: center;">
	      <p align="center">Loading application...</p>
	      <img src="images/loading66.gif">
	    </div>
	</div>
</body>
</html>
