<div ng-include src="'templates/header.html'"></div>
<div class="container-fluid" ng-show="propertyValues || linkValues">

<div class="row">
    <div class="col-md-8 col-xs-12">
        <legend>{{formLabel}}</legend>
        <div ng-include="'templates/edit-form.html'">
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="cancel()">
              Cancel
          </button>
          <button type="button" class="btn btn-default" ng-click="save()">
              Save
          </button>
      </div>
    </div>
</div>
<div ng-show="raw==undefined">Loading...</div>
</div>
