<div class="container-fluid">
<div class="row">
<div class="col-sm-12" ng-include src="getTemplateUrl('execute-action-header', [ entity.fullName, action.name ])"></div>
<div class="col-sm-8" ng-init="selectedParameterSet = ''">
    <div ng-include src="getTemplateUrl('operation-form', [ entity.fullName, action.name ])"></div>
    <div>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-success" ng-click="performAction(selectedParameterSet)">
                  {{action.label}}!
              </button>
              <button type="button" class="btn btn-warning" ng-click="cancel()">
                  {{kirraNG.getAppLabel('cancel')}}
              </button>
          </div>
    </div>
</div>
</div>