    <div class="row" ng-if="moreData && !loadingData">
        <div class="col-sm-10">
            <div class="well well-lg">
                <div class="btn btn-primary btn-block" ng-click="loadMore()">{{kirraNG.getAppLabel("load_more_data")}}</div>
            </div>
        </div>
    </div>
    <!--
    <div class="row" ng-if="instances.length">
        <pagination ng-change="pageChanged(pageNumber)" ng-model="pageNumber" total-items="totalItems" items-per-page="pageSize"></pagination>
    </div>
    -->

