    <div class="row">
        <div class="col-md-4" ng-repeat="row in rows track by $index">
            <span class="thumbnail">
                <ka-data ng-repeat="pictureProperty in pictureProperties" grid=true slot="pictureProperty" slot-data="row.data[pictureProperty.name]" object-id="row.raw.objectId">
                </ka-data>
                <h3 ng-repeat="mnemonicProperty in tableProperties | filter: !{ essential: false }" ng-if="mnemonicProperty.mnemonic">
                    <ka-data slot="mnemonicProperty" grid=true slot-data="row.data[mnemonicProperty.name]" object-id="row.raw.objectId">
                    </ka-data>
                </h3>                        
                <hr class="line">
                <p ng-repeat="property in tableProperties | filter: !{ essential: false }" ng-if="!property.mnemonic && property.typeRef.typeName != 'Picture' && property.required">
                    <label class="control-label" for="{{property.name}}">{{property.label}}:</label>
                    <ka-data grid=true slot="property" slot-data="row.data[property.name]" object-id="row.raw.objectId">
                    </ka-data>
                </p>
                <div class="row">
                    <div class="col-md-6 col-sm-6" ng-repeat="action in actions">
                        <button class="btn btn-success right" ng-click="performInstanceActionOnRow(row.raw, action)">{{action.label}}</button>
                    </div>
                </div>
            </span>
        </div>
    </div>