<div class="container">
    <div ng-include src="getTemplateUrl('entity-header', [ entity.name ])"></div>
    <div class="row">
        <div class="col-sm-10">
            <legend>{{entity.label}}: {{finder ? finder.label : 'All'}}</legend>
        </div>
	</div>
    <div class="row">
    	<div class="col-sm-10">
    		<div class="row" >    	
                <div class="btn-group" role="group">
                    <button ng-if="entity.instantiable && entityCapabilities.entity.indexOf('Create') >= 0" type="button" class="btn btn-default" ng-click="create()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</button>
                </div>
	            <div class="btn-group" role="group">
	                <button ng-if="entityCapabilities.entity.indexOf('List') >= 0" type="button" class="btn {{finder ? 'btn-default' : 'btn-primary'}}" ng-click="unfiltered()">
	                All
	                </button>
	                <button ng-repeat="query in queries" ng-if="query.parameters.length == 0 && entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0" type="button" class="btn {{finder == query ? 'btn-primary' : 'btn-default'}}" ng-click="performQuery(query)">
	                {{query.label}}
	                </button>
	            </div>
	            <div class="btn-group" role="group">
	                <button ng-repeat="action in entityActions" ng-if="entityCapabilities.actions[action.name].indexOf('StaticCall') >= 0" type="button" class="btn btn-default" ng-click="performEntityAction(action)">
	                {{action.label}}
	                </button>
	            </div>
	            <div class="btn-group" role="group" ng-if="queries.length">    
	                <button ng-repeat="query in queries" ng-if="query.parameters.length > 0 && entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0" type="button" class="btn {{finder == query ? 'btn-primary' : 'btn-default'}}" ng-click="performQuery(query)">
	                {{query.label}}
	                </button>
	            </div>
			</div>	            
        </div>        
        <div class="col-sm-12 col-md-4" ng-if="finder && finder.parameters.length">
			<div class="row">        
	    	    <div ng-include src="getTemplateUrl('operation-form', [ entity.name, finder.name ])"></div>
	    	    <button type="button" class="btn btn-default" ng-click="applyFilter()">Apply</button>
			</div>    	    
    	</div>        
    </div>
    <div class="row">
    	<p></p>
    </div>
	<div class="row"> 
        <div ng-show="instances.length > 0" class="col-sm-10">
            <instance-table class="container-fluid"/>
        </div>
        <div align="center"  class="col-sm-10">
        </div>
    </div>
    <div class="row" ng-if="!resultMessage && instances == undefined">
		<div class="col-sm-10"> 
	    	<div class="text-center">Loading data for {{entity.label}}...</div>
	    	<div class="text-info text-center"><img src="images/loading22.gif"></div>
    	</div>
    </div>
	<div class="row" ng-if="!resultMessage && instances.length == 0" >
		<div class="col-sm-10"> 
	    	<div class="text-info text-center">No data found</div>
    	</div>
    </div>

    <div class="row" ng-if="resultMessage">
        <div class="col-sm-10"> 
            <div class="text-info text-center">{{resultMessage}}</div>
        </div>
    </div>
    
    <div class="row" ng-if="false && totalItems > maxSize">
    	<div class="col-sm-10">
			<pagination total-items="totalItems" ng-model="bigCurrentPage" max-size="maxSize" boundary-links="true"></pagination>
		</div>
    </div>
</div>
