<div class="container-fluid">
    <div ng-include src="'templates/header.html'"></div>
    <div class="row">
        <div class="col-sm-12">
            <legend>{{entity.label}}: {{finder ? finder.label : 'All'}}</legend>
        </div>
	</div>
    <div class="row">
    	<div class="col-sm-5">
    		<div class="row">    	
	            <div class="btn-group" role="group" ng-if="queries.length">
	                <button ng-if="entityCapabilities.entity.indexOf('List') >= 0" type="button" class="btn {{finder ? 'btn-default' : 'btn-primary'}}" ng-click="unfiltered()">
	                All
	                </button>
	                <button ng-repeat="query in queries" ng-if="query.parameters.length == 0 && entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0" type="button" class="btn {{finder == query ? 'btn-primary' : 'btn-default'}}" ng-click="performQuery(query)">
	                {{query.label}}
	                </button>
	            </div>
			</div>
		    <div class="row">
		    	<p></p>
		    </div>
    		<div class="row">    	
	            <div class="btn-group" role="group">
	                <button ng-if="entity.instantiable && entityCapabilities.entity.indexOf('Create') >= 0" type="button" class="btn btn-default" ng-click="create()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</button>
	                <button ng-repeat="action in entityActions" ng-if="entityCapabilities.actions[action.name].indexOf('StaticCall') >= 0" type="button" class="btn btn-default" ng-click="performEntityAction(action)">
	                {{action.label}}
	                </button>
	            </div>
	        </div>
        </div>
        <div class="col-sm-5">
			<div class="row">        
	            <div class="btn-group" role="group" ng-if="queries.length">    
	                <button ng-repeat="query in queries" ng-if="query.parameters.length > 0 && entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0" type="button" class="btn {{finder == query ? 'btn-primary' : 'btn-default'}}" ng-click="performQuery(query)">
	                {{query.label}}
	                </button>
	            </div>
			</div>	            
			<div class="row" ng-if="finder && finder.parameters.length">        
	    	    <div ng-include src="'templates/operation-form.html'"></div>
	    	    <button type="button" class="btn btn-default" ng-click="applyFilter()">Apply</button>
			</div>    	    
    	</div>        
    </div>
    <div class="row">
    	<p></p>
    </div>
	<div class="row"> 
        <div ng-show="instances.length > 0" class="col-sm-10">
            <table  class="table table-striped" class="table table-striped">
                <tr>
                    <th ng-repeat="property in tableProperties">{{::property.label}}</th>
                    <th ng-if="actions.length">Actions</td>
                </tr>
                <tr ng-repeat="row in rows track by $index">
                    <td ng-repeat="property in tableProperties">
                    	<ka-data table=true slot="property" slot-data="row.data[property.name]" object-id="row.raw.objectId"></ka-data>
                    </td>
                    <td ng-if="actions.length">
                        <div class="btn-group-vertical" dropdown role="group" on-toggle="updateActionEnablement(row)">
                            <button type="button" class="btn btn-default btn-sm  btn-block" dropdown-toggle ng-disabled="disabled">
                            Actions
                            <span ng-if="row.actionEnablement.useDropdown" class="caret"></span>
                            </button>
                            <ul ng-if="row.actionEnablement.useDropdown" class="dropdown-menu" role="menu">
                                <li ng-repeat="action in row.actionEnablement.enabledActions" role="menuitem"><a ng-click="performInstanceAction(row, action)">{{action.label}}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div align="center"  class="col-sm-10">
        </div>
    </div>
    <div class="row" ng-if="!resultMessage && instances == undefined">
		<div class="col-sm-10"> 
	    	<div class="text-center">Loading data for {{entity.label}}...</div>
	    	<div class="text-info text-center"><img src="images/loading22.gif"></div>
    	</div>
    </div>
	<div class="row" ng-if="resultMessage" >
		<div class="col-sm-10"> 
	    	<div class="text-info text-center">{{resultMessage}}</div>
    	</div>
    </div>
    <div class="row" ng-if="false && totalItems > maxSize">
    	<div class="col-sm-10">
			<pagination total-items="totalItems" ng-model="bigCurrentPage" max-size="maxSize" boundary-links="true"></pagination>
		</div>
    </div>
</div>
