<div ng-if="slot.mnemonic">
	<a ng-if="objectId || slotData.objectId" ui-sref="{{targetStateName}}({ objectId: '{{ targetObjectId }}' })">
    	{{slotData.shorthand || slotData}}
	</a>    
	<div ng-if="!objectId && !slotData.objectId">
	    {{slotData}}
	</div>
</div>

<div ng-if="!slot.mnemonic && slotData !== undefined && slotTypeName">
	<div ng-if="slotTypeName != 'Double' && slotTypeName != 'Memo' && slotTypeName != 'Boolean' && slotTypeName != 'Time' && slotTypeName != 'Date' && slotTypeName != 'DateTime' && slotTypeName != 'Geolocation' && slotTypeKind != 'Entity'  && slotTypeKind != 'Blob' && slotTypeKind != 'Enumeration'">
	    {{slotData}}
	</div>
	<div ng-if="slotTypeKind == 'Entity'">
	    <a href="{{getLinkHref()}}">
	    	{{slotData.shorthand}}
		</a>
	</div>
	<div ng-if="slotTypeName == 'Double'">
	{{slotData | number:2}}
	</div>
	<div ng-if="slotTypeName == 'Memo'" ng-bind-html="getMemoDataAsHTML()">
	</div>	
	<div ng-if="slotTypeName == 'Boolean'">
	    <span ng-if="slotData" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	    <span ng-if="!slotData" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</div>
	<div ng-if="slotTypeName == 'Date'">
		{{slotData | date:'yyyy/MM/dd':'UTC'}}
    </div>
	<div ng-if="slotTypeName == 'Time'">
        {{slotData | date:'HH:mm':'UTC'}}
    </div>
    <div ng-if="slotTypeName == 'DateTime'" data-toggle="tooltip" title="{{slotData | date:'yyyy/MM/dd HH:mm':'UTC'}}">
        {{slotData | date:'yyyy/MM/dd':'UTC'}}
    </div>
	<div ng-if="slotTypeKind == 'Enumeration'">
		{{slot.enumerationLiterals[slotData].label}}
	</div>
	<div ng-if="slotTypeKind == 'Blob' && (table || (grid && slotTypeName != 'Picture'))">
	    <a ng-if="slotTypeName == 'Picture'" ng-click="attachmentShow(slot, slotData)">
        	<img ng-if="slot.required" ng-src="{{getAttachmentDownloadUri(slot, slotData)}}" class="img-thumbnail">
        	<span ng-if="!slot.required" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	    </a> 
    	<span ng-if="slotTypeName != 'Picture'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </div>
    <div ng-if="slotTypeName == 'Picture' && grid">
        <img ng-if="!size|| size == 'default'" 
            style="max-width: 320px; min-width: 320px; max-height: 280px; min-height: 280px;" 
            ng-src="{{getAttachmentDownloadUri(slot, slotData)}}" class="img-thumbnail">
        <img ng-if="size == 'small'" 
            style="max-width: 160px; min-width: 160px; max-height: 140px; min-height: 140px;" 
            ng-src="{{getAttachmentDownloadUri(slot, slotData)}}" class="img-thumbnail">
        <img ng-if="size == 'tiny'" 
            style="max-width: 80px; min-width: 80px; max-height: 70px; min-height: 70px;" 
            ng-src="{{getAttachmentDownloadUri(slot, slotData)}}" class="img-thumbnail">
    </div>
    <div ng-if="slotTypeKind == 'Blob' && !table && !grid">
        <div  class="col-sm-12">
            <img ng-src="{{getAttachmentDownloadUri(slot, slotData)}}" class="col-sm-12 visible-md visible-sm visible-xs img-thumbnail">
        </div>
        <div  class="col-sm-12 btn-group">
            <a class="btn btn-default btn-md" target="_self" download="{{slotData.originalName}}" ng-href="{{getAttachmentDownloadUri(slot, slotData)}}">{{kirraNG.getAppLabel('download_attachment')}}</a>
            <button class="btn btn-default btn-md visible-lg" ng-click="attachmentShow(slot, slotData)">{{kirraNG.getAppLabel('show_attachment')}}</button>
            <button class="btn btn-default btn-md" ng-click="attachmentRemove(slot, slotData)">{{kirraNG.getAppLabel('delete_attachment')}}</button>
        </div>
    </div>
</div>
<div ng-if="slotData == undefined && slotTypeKind != 'Blob' && slotTypeName != 'Geolocation'"">-</div>
<div ng-if="slotData == undefined && slotTypeKind == 'Blob' && !table && !grid">
    <input class="btn btn-default btn-sm" type="file" id="{{slot.name}}FileInput"/>
    <button class="btn btn-default" ng-if="files" ng-click="attachmentUpload(slot, files)">{{kirraNG.getAppLabel('upload_attachment')}}</button>
    <button class="btn btn-default" ng-if="files" ng-click="attachmentCancel(slot, slotData, files)">{{kirraNG.getAppLabel('cancel_attachment')}}</button>
</div>
<div ng-if="slotData == undefined && slotTypeKind == 'Blob' && table">
    <div ng-if="!slotData">-</div>
</div>

<div ng-if="slotData == undefined && slotTypeKind == 'Blob' && grid && slotTypeName == 'Picture'">
    <img src="https://placeholdit.imgix.net/~text?txtsize=32&txt=Missing%20picture" height="150">
</div>

<div ng-if="slotTypeName == 'Geolocation' && !table" id="{{slot.name}}" class="panel panel-default">
  <div class="panel-body">
    <input id="{{slot.name}}MapInput" class="form-control" type="text" placeholder="Search Box">
    <div id="{{slot.name}}LiveMap" style="height: 400px; width: 100%;"></div>
    <div id="{{slot.name}}MapInfoPane">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
    <button class="btn btn-default" ng-click="setToMyLocation(slot)">My location</button>
    <button class="btn btn-default" ng-click="clearLocation(slot)">Clear</button>
  </div>
</div>
<div ng-if="slotTypeName == 'Geolocation' && table">
    <span ng-if="slotData" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span ng-if="!slotData" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</div>
