<div>
    <label for="{{slot.name}}">{{slot.label}}:</label>
    <input id="{{slot.name}}" 
        ng-if="slotTypeKind == 'Primitive' && slotTypeName != 'Memo' && slotTypeName != 'Date' && slotTypeName != 'Time' && slotTypeName != 'Boolean'" 
        type="text" 
        class="form-control" 
        ng-model="values[slot.name]"
        placeholder="{{slot.description || slot.label}}">
    <textarea id="{{slot.name}}"  
        ng-if="slotTypeKind == 'Primitive' && slotTypeName == 'Memo'" 
        class="form-control" 
        ng-model="values[slot.name]"
        placeholder="{{slot.description || slot.label}}">
    </textarea>
    <toggle id="{{slot.name}}"   
        ng-if="slotTypeKind == 'Primitive' && slotTypeName == 'Boolean'" 
        class="btn-xs" 
        ng-model="values[slot.name]" 
        on="Yes" 
        off="No">
    </toggle>                    
    <div id="{{slot.name}}" 
        ng-if="slotTypeKind == 'Primitive' && (slotTypeName == 'Date' || slotTypeName == 'DateTime')" 
        ng-init="slot.pickerStatus = { opened: true }">
        <p class="input-group">
            <input type="text" class="form-control" is-open="pickerStatus[slot.name]" datepicker-popup="yyyy/MM/dd" id="{{slot.name}}" ng-model="values[slot.name]">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="togglePickerStatus($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div id="{{slot.name}}" 
        uib-timepicker 
        ng-if="slotTypeKind == 'Primitive' && slotTypeName == 'Time'" 
        ng-model="values[slot.name]"
        placeholder="{{slot.description || slot.label}}"
        show-meridian="false">
    </div>
    <!--
    <input type="time" id="{{slot.name}}" ng-if="slotTypeKind == 'Primitive' && slotTypeName == 'Time'" ng-model="values[slot.name]">
    -->
    <select id="{{slot.name}}" 
        ng-if="slotTypeKind == 'Enumeration'" 
        ng-model="values[slot.name]" class="form-control"
        ng-options="literal for literal in slot.enumerationLiterals"
        placeholder="{{slot.description || slot.label}} (Start typing)">
    </select>
    <input id="{{slot.name}}"
        ng-if="slotTypeKind == 'Entity' && slot.effect != 'Creation'"
        type="text" class="form-control" 
        ng-model="slotData.shorthand"
        typeahead="shorthand as candidate.shorthand for candidate in findCandidates({ slot: slot, value: $viewValue })"
        typeahead-min-length="0"
        typeahead-input-formatter="formatCandidate(slot)"
        typeahead-on-select="onCandidateSelected($item)"
        placeholder="{{slot.description || slot.label}} (start typing)"
        autocomplete="off">


    <div class="panel panel-default" ng-if="slotTypeKind == 'Entity' && slot.effect == 'Creation'">
<!--
    <div class="panel-heading" ng-init="slot.open = false">
        <div>
            <div data-toggle="collapse" data-target="#{{slot.name}}-section" ng-click="slot.open = !slot.open">
                <span ng-class="slot.open ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'"></span>
            </div>
        </div>
    </div>
-->    
    <div class="panel-body"
         id="{{slot.name}}-section"
        ng-init="inputFields = kirraNG.buildInputFields(slot.typeRef.fullName, true); propertyValues = values[slot.name].propertyValues ; linkValues = values[slot.name].linkValues">
        <div class="col-sm-12">
            <div class="card card-body">
                <div ng-include="kirraNG.getTemplateUrl('edit-form')"></div>
            </div>
        </div>
    </div>
    </div>
</div>
