<ul class="nav navbar-nav">
    <li class="dropdown" ng-repeat="entity in entities" ng-if="!entity.forbidden && entity.concrete && entity.topLevel && entityCapabilitiesByName[entity.fullName]"
        ng-init="entityCapabilities = entityCapabilitiesByName[entity.fullName]; entityActions = kirraNG.getEntityActions(entity); queries = kirraNG.getQueries(entity)">
        <a class="dropdown-toggle" data-toggle="dropdown">
            {{entity.label}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li ng-if="entity.instantiable && entityCapabilities.indexOf('Create') >= 0" >
                <a ng-click="create()" title="{{kirraNG.getAppLabel('create')}}">{{kirraNG.getAppLabel('create')}}</a>
            </li>
            <li ng-repeat="action in entityActions" ng-if="entityCapabilities.actions[action.name].indexOf('StaticCall') >= 0" >
                <a ng-click="performEntityAction(entity, action)" title="{{action.label}}">{{action.label}}</a>
            </li>
            <li ng-if="entityCapabilities.entity.indexOf('List') >= 0"> 
                <a ng-click="unfiltered(entity)" title="{{kirraNG.getAppLabel('all')}}">{{kirraNG.getAppLabel('all')}}</a> 
            </li>
            <li ng-repeat="query in queries" ng-if="entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0"> 
                <a ng-click="performEntityQuery(entity, query)" title="{{query.label}}">{{query.label}}</a> 
            </li>
        </ul>
    </li>
</ul>
