
    <nav class="navbar navbar-default">
      <div class="container-fluid" ng-cloak>
          <div class="navbar-header">
            <p class="navbar-brand"><a href="{{applicationUrl}}">{{applicationName}}</a></p>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
		        <li ng-repeat="entity in entities" ng-if="entity.allowed" class="divider-vertical">
		            <a ui-sref="{{kirraNG.toState(entity.fullName, 'list')}}">{{entity.label}}</a>
		        </li>
    	    </ul>
    	    <ul class="nav navbar-nav navbar-right">
    	        <li ng-if="currentUser">
    	            <a ui-sref="{{kirraNG.toState(currentUser.typeRef.fullName, 'show')}}({ objectId: '{{currentUser.objectId}}' })">User: {{currentUser.values.username}}</a>
    	        </li>
    	        <li>
     	        <p class="navbar-btn">
    	            <a ng-if="!currentUser" class="btn btn-default btn-sm glyphicon glyphicon-log-in" ng-click="login()"> Login</a>
    	            <a ng-if="currentUser" class="btn btn-default btn-sm glyphicon glyphicon-log-out" ng-click="logout()"> Logout</a>
	            </p>
    	        </li>
    	    </ul>
		  </div>	    	
	  </div>
    </nav>
