    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row" ng-init="metadata = custom.metadata">
        <div class="col-md-4" ng-repeat="product in custom.data track by $index">
            <span class="thumbnail">
                <ka-data grid=true slot="metadata.slots.productImage" slot-data="product.productImage" object-id="product.objectId">
                </ka-data>
                <h3>
                    <ka-data slot="metadata.slots.productName" grid=true slot-data="product.productName" object-id="product.objectId">
                    </ka-data>
                </h3>                        
                <hr class="line">
                <p>
                    <label class="control-label" for="{{metadata.slots.productCategory.name}}">{{metadata.slots.productCategory.label}}:</label>
                    <ka-data grid=true slot="metadata.slots.productCategory" slot-data="product.productCategory" object-id="product.objectId">
                    </ka-data>
                </p>
                <p>
                    <label class="control-label" for="{{metadata.slots.productPrice.name}}">{{metadata.slots.productPrice.label}}:</label>
                    <ka-data grid=true slot="metadata.slots.productPrice" slot-data="product.productPrice" object-id="product.objectId">
                    </ka-data>
                </p>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <button class="btn btn-success right" ng-click="product.addToCart(this)">{{metadata.instanceActions.addToCart.label}}</button>
                    </div>
                </div>
            </span>
        </div>
    </div>