<div ng-include src="'templates/header.html'"></div>
<div class="container-fluid">
<div class="row">
<div class="col-sm-8">

<div ng-show="raw">
		<legend>
		{{entity.label}}: {{raw.shorthand}}
		<span ng-if="parentLink">under
			<a ui-sref="{{kirraNG.toState(parentRelationship.typeRef.fullName, 'show')}}({ objectId: '{{parentLink.objectId}}' })">
				{{parentRelationship.label}} {{parentLink.shorthand}}
			</a>
		</span>
		</legend>
		<div ng-repeat="fieldData in fieldValues track by $index" ng-init="field = viewFields[$index]">		
			<div ng-init="fieldName = field.name; typeName = field.typeRef.typeName; typeKind = field.typeRef.kind">
				<div class="span4 display-values" class="input-xlarge uneditable-input">
				    <strong class="span2 display-label">{{field.label}}:</strong>
				    <ka-data slot="field" slot-data="fieldData"></ka-data>
				</div>
			</div>
		</div>
		
		<div ng-repeat="edge in childrenData">
			<h4>
				{{edge.relationshipLabel}}			
				<span class="badge">{{edge.rows.length}}</span>
				<a ng-click="createChild(edge.relationship, edge.relatedEntity)" ng-if="edge.relationship.editable">
			        <span class="glyphicon glyphicon-plus"></span>
			    </a>
			</h4>
			    <div class="list-group">
					<div ng-repeat="child in edge.rows" class="row list-group-item" ng-init="childFieldValues = child.data; childFields = edge.relatedEntity.properties; childRelationships = edge.relatedEntity.relationships"> 
					    <div ng-include src="'templates/embedded-instance.html'" class="col-sm-10"></div>
					    <div class="col-sm-2">
						    <a ng-if="edge.relationship.editable" ng-click="unlink(edge.relationship, child.raw.typeRef.fullName + '@' + child.raw.objectId)">
						        <span class="glyphicon glyphicon-remove"></span>
						    </a>
						    <a ng-if="edge.relationship.editable" ui-sref="{{kirraNG.toState(edge.relatedEntity.fullName, 'edit')}}({ objectId: '{{child.raw.objectId}}' })">
						        <span class="glyphicon glyphicon-edit"></span>
						    </a>
						    <a ng-if="edge.relatedEntity.topLevel" ui-sref="{{kirraNG.toState(edge.relatedEntity.fullName, 'show')}}({ objectId: '{{child.raw.objectId}}' })">
						        <span class="glyphicon glyphicon-link"></span>
						    </a>
					    </div>
					</div>
				</div>
			<span ng-show="edge.rows.length == 0" class="label label-info span2 text-center">No records for {{edge.relationshipLabel}}</span>
		</div>
		
</div>
<div ng-show="raw==undefined">Loading...</div>
</div>
<div class="col-sm-4">
    <div class="row">
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="edit()" ng-if="editable">
                  Edit
              </button>
              <button type="button" class="btn btn-default" ng-click="delete()">
                  Delete
              </button>
          </div>
          <div class="btn-group" role="group">
              <button ng-repeat="action in enabledActions" type="button" class="btn btn-default" ng-click="performAction(action)">
                  {{action.label}}
              </button>
          </div>
    </div>
    <div class="row">
		<div ng-repeat="edge in relatedData">
			<h4>{{edge.relationshipLabel}}
			    <span class="badge">{{edge.rows.length}}</span>
			    <a ng-click="link(edge.relationship)" ng-if="!edge.relationship.oppositeReadOnly && !edge.relationship.oppositeRequired">
			        <span ng-if="edge.relationship.editable" class="glyphicon glyphicon-plus"></span>
			    </a>
		    </h4>
			<div>
			<div ng-repeat="row in edge.rows"> 
			        <a ui-sref="{{kirraNG.toState(row.raw.typeRef.fullName, 'show')}}({ objectId: '{{row.raw.objectId}}' })">{{row.raw.shorthand}}</a>
				    <a sref="$state.get()" ng-click="unlink(edge.relationship, row.raw.objectId)" ng-if="edge.relationship.editable && !edge.relationship.oppositeReadOnly && !edge.relationship.oppositeRequired">
				        <span class="glyphicon glyphicon-minus" style="color: #D00020"></span>
				    </a>
			</div>
			</div>
		</div>
	</div>
</div>
</div>