<div class="container-fluid">
<div class="row">
<div class="col-sm-8">

<div ng-show="raw">
		<legend>{{entity.label}}: {{raw.shorthand}}</legend>
		<div ng-repeat="fieldData in fieldValues track by $index" ng-init="field = viewFields[$index]">		
			<div ng-init="fieldName = field.name; typeName = field.typeRef.typeName; typeKind = field.typeRef.kind">
				<div class="span4 display-values" class="input-xlarge uneditable-input">
				    <strong class="span2 display-label">{{field.label}}:</strong>
					<p ng-include src="'templates/table-value.html'" ></p>
				</div>
			</div>
		</div>

		<div ng-repeat="edge in childrenData">
			<h4>{{edge.relationship.label}} <span class="badge">{{edge.rows.length}}</span></h4>
			
			<ul ng-show="edge.rows.length > 0" class="inline-block">
				<li ng-repeat="row in edge.rows" class="label label-inverse span2 text-center">{{row.raw.shorthand}}</li>
				
				<div ng-repeat="row in edge.rows"> 
				    <p>
					    <a ui-sref="{{kirraNG.toState(edge.relationship.typeRef.fullName, 'show')}}({ objectId: '{{row.raw.objectId}}' })">{{row.raw.shorthand}}</a>
					    <a sref="$state.get()" ng-click="unlink(edge.relationship, row.raw.objectId)">
					        <span ng-if="edge.relationship.editable" class="glyphicon glyphicon-remove"></span>
					    </a>
				    </p>
				</div>
				
			</ul>
			<span ng-show="edge.rows.length == 0" class="label label-info span2 text-center">No records for {{edge.relationship.label}}</span>
		</div>
		
</div>
<div ng-show="raw==undefined">Loading...</div>
</div>
<div class="col-sm-4">
    <div class="row">
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="edit()" ng-if="editable">
                  Edit
              </button>
              <button type="button" class="btn btn-default" ng-click="delete()">
                  Delete
              </button>
          </div>
          <div class="btn-group" role="group">
              <button ng-repeat="action in enabledActions" type="button" class="btn btn-default" ng-click="performAction(action)">
                  {{action.label}}
              </button>
          </div>
    </div>
    <div class="row">
		<div ng-repeat="edge in relatedData">
			<h4>{{edge.relationship.label}}
			    <span class="badge">{{edge.rows.length}}</span>
			    <a ng-click="link(edge.relationship)" ng-if="!edge.relationship.oppositeReadOnly && !edge.relationship.oppositeRequired">
			        <span ng-if="edge.relationship.editable" class="glyphicon glyphicon-plus"></span>
			    </a>
		    </h4>
			<div>
			<div ng-repeat="row in edge.rows"> 
			        <a ui-sref="{{kirraNG.toState(edge.relationship.typeRef.fullName, 'show')}}({ objectId: '{{row.raw.objectId}}' })">{{row.raw.shorthand}}</a>
				    <a sref="$state.get()" ng-click="unlink(edge.relationship, row.raw.objectId)" ng-if="edge.relationship.editable && !edge.relationship.oppositeReadOnly && !edge.relationship.oppositeRequired">
				        <span class="glyphicon glyphicon-minus" style="color: #D00020"></span>
				    </a>
			</div>
			</div>
		</div>
	</div>
</div>
</div>