<div class="container" ng-controller="KirraRepositoryCtrl">
	<div class="row">
		<div class="col-sm-4">
		
        <legend>Register as a new user</legend>
        
        </div>
    </div>
        
	<div class="row" ng-repeat="entity in entities" ng-if="entity.role">
        <div class="col-sm-3">
            <p><button class="btn btn-lg btn-block" type="button" ng-click="registerAs(entity)">Register as {{entity.label}}</button></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>Already a user? Click <a ng-click="login()">here</a> to sign in.</p>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-3">
			<p></p>
		</div>
	</div>
        
</div>      
