<div ng-if="field.typeRef.typeName != 'Boolean' && field.typeRef.typeName != 'Date' && field.typeRef.kind != 'Entity'">
    {{fieldData}}
</div>
<div ng-if="field.typeRef.kind == 'Entity'" ng-init="relatedObjectId = fieldData.objectId">
    <a ui-sref="{{kirraNG.toState(field.typeRef.fullName, 'show')}}({ objectId: '{{ relatedObjectId }}' })">
    	{{fieldData.shorthand}}
	</a>
</div>
<div ng-if="field.typeRef.typeName == 'Boolean' && fieldData">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</div>
<div ng-if="field.typeRef.typeName == 'Boolean' && !fieldData">-</div>
<div ng-if="field.typeRef.typeName == 'Date'">
	{{fieldData | date: 'yyyy/MM/dd'}}
</div>
