
<div class="header-links">
        <!-- Header Account -->
        <div class="header-link dropdown-link header-account" ng-if="currentUser">
            <a ui-sref="{{kirraNG.toState(currentUser.typeRef.fullName, 'show')}}({ objectId: '{{currentUser.objectId}}' })">
            <i class="icon icon-user"></i>
            User: {{currentUser.values.username}}
            </a>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            <a ng-click="logout()"> Logout</a>
        </div>
        <div class="header-link dropdown-link header-account" ng-if="!currentUser">
            <a ng-click="login()">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                Login
            </a>
        </div>
        <!-- /Header Account -->
    </div>
</div>
