<div class="row">
    <div class="col-sm-7">
        <ul class="filters filters-product style2">
            <li 
                ng-if="queries.length && entityCapabilities.entity.indexOf('List') >= 0">
                <a class="filter-label {{!finder ? 'active' : ''}}" ng-click="unfiltered()" title="{{kirraNG.getAppLabel('all')}}">{{kirraNG.getAppLabel('all')}}</a>
            </li>
            <li 
                ng-repeat="query in queries" 
                ng-if="entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0">
                <a class="filter-label {{finder == query ? 'active' : ''}}" ng-click="performQuery(query)">
                    {{query.label}}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-5">
        <div class="btn-group" role="group">
            <button 
                ng-if="entity.instantiable && entityCapabilities.entity.indexOf('Create') >= 0" 
                type="button" 
                class="btn btn-default" 
                ng-click="create()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{kirraNG.getAppLabel('create')}}
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-4" ng-if="finder && finder.parameters.length">
        <div ng-include src="getTemplateUrl('operation-form', [ entity.fullName, finder.name ])"></div>
        <button type="button" class="btn btn-default" ng-click="applyFilter()">{{kirraNG.getAppLabel('apply')}}</button>
    </div>        
</div>
        