<!-- Header -->
<header class="page-header fullboxed variant-2">
    <div class="navbar">
        <div class="container">
            
            <!-- Menu Toggle -->
            <div class="menu-toggle"><a href="#" class="mobilemenu-toggle"><i class="icon icon-menu"></i></a></div>
            <!-- /Menu Toggle -->
            
            <!-- Header Cart -->
            <div class="header-link dropdown-link header-cart variant-1" ng-if="singletons.cart.custom.data.length">
                <a ui-sref="cart:Cart:show(singletons.cart.instance)">
                    <i class="icon icon-cart"></i> <span class="badge">{{singletons.cart.custom.data[0].itemCount}}</span> 
                </a>
                <!-- minicart wrapper -->
                <div class="dropdown-container right">
                    <!-- minicart content -->
                    <div class="block block-minicart">
                        <div class="minicart-content-wrapper">
                            <div class="block-title">
                                <span>{{kirraNG.getAppLabel("cart.recently_added_items")}}</span>
                            </div>
                            <a class="btn-minicart-close" title="Close">&#10060;</a>
                            <div class="block-content">
                                <div class="minicart-items-wrapper overflowed">
                                    <ol class="minicart-items">
                                        <li class="item product product-item" ng-repeat="cartItem in singletons.cart.custom.edgeData.cartItems | limitTo: 5 track by cartItem.objectId">
                                            <div class="product">
                                                <a class="product-item-photo" ui-sref="cart:Product:show({ objectId: '{{cartItem.productObjectId}}' })" title="{{cartItem.productName}}">
                                                    <span class="product-image-container">
                                                    <span class="product-image-wrapper">
                                                    <ka-wrapper slot="singletons.cart.custom.metadata.edges.cartItems.slots.productImage" slot-data="cartItem.productImage" object-id="cartItem.objectId">
                                                        <img 
                                                            class="product-image-photo" ng-src="{{getAttachmentDownloadUri(slot, slotData)}}">
                                                    </ka-wrapper>
                                                    </span>
                                                    </span>
                                                </a>
                                                <div class="product-item-details">
                                                    <div class="product-item-name">
                                                        <a ui-sref="cart:Product:show({ objectId: '{{cartItem.productObjectId}}' })">
                                                            {{cartItem.productName}}
                                                        </a>
                                                    </div>
                                                    <div class="product-item-qty">
                                                        <label class="label">Qty</label>
                                                        <input class="item-qty cart-item-qty" maxlength="12" value="{{cartItem.quantity}}">
                                                        <button class="update-cart-item" style="display: none" title="Update">
                                                            <span>Update</span>
                                                        </button>
                                                    </div>
                                                    <div class="product-item-pricing">
                                                        <div class="price-container">
                                                            <span class="price-wrapper">
                                                                <span class="price-excluding-tax">
                                                                <span class="minicart-price">
                                                                <span class="price">{{cartItem.subtotal | currency:"R$":2}}</span> </span>
                                                            </span>
                                                            </span>
                                                        </div>
                                                        <div class="product actions">
                                                            <div class="secondary">
                                                                <a ng-click="cartItem.removeItem()" class="action delete" title="{{singletons.cart.custom.metadata.edges.cartItems.slots.productImage.label}}">
                                                                    <span>Delete</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="subtotal">
                                    <span class="label">
                                        <span>{{singletons.cart.custom.metadata.slots.subtotal.label}}</span>
                                    </span>
                                    <div class="amount price-container">
                                        <span class="price-wrapper"><span class="price">{{singletons.cart.custom.data[0].subtotal | currency:"R$":2}}</span></span>
                                    </div>
                                </div>
                                <div class="actions">
                                    <div class="secondary">
                                        <a ui-sref="cart:Cart:show(singletons.cart.instance)" class="btn btn-alt">
                                            <i class="icon icon-cart"></i><span>{{singletons.cart.custom.metadata.queries.current.label}}</span>
                                        </a>
                                    </div>
                                    <div class="primary">
                                        <a class="btn" ng-click="singletons.cart.custom.data[0].checkOut()">
                                            <i class="icon icon-external-link"></i><span>{{singletons.cart.custom.metadata.instanceActions.checkOut.label}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /minicart content -->
                </div>
                <!-- /minicart wrapper -->
            </div>
            <!-- /Header Cart -->
            
            <div ng-include src="getTemplateUrl('account-menu')">
            </div>

            <!-- Logo -->
            <div class="header-logo">
                <a ng-if="!applicationLogo" class="navbar-brand" ng-click="goHome()">{{applicationLabel}}</a>
                <a ng-if="applicationLogo" class="navbar-brand" ng-click="goHome()">
                    <img data-ng-src="data:image/png;base64,{{applicationLogo}}" style="min-height: 50px"/>
                </a>
            </div>
            <!-- /Logo -->
            
            <!-- Mobile Menu -->
            <div class="mobilemenu dblclick">
                <div class="mobilemenu-header">
                    <div class="title">MENU</div>
                    <a href="#" class="mobilemenu-toggle"></a>
                </div>
                <div class="mobilemenu-content">
                    <ul class="nav">
                        <li ng-repeat="entity in entities" ng-if="!entity.forbidden && entity.concrete && entity.topLevel"
                            ng-init="entityCapabilities = entityCapabilitiesByName[entity.fullName]; entityActions = kirraNG.getEntityActions(entity); queries = kirraNG.getQueries(entity); entityMenus = entityMenusByName[entity.fullName]">
                            <a ng-click="unfiltered(entity)" ng-if="entityCapabilities.entity.indexOf('List') >= 0">{{entity.label}}</a>
                            <a ng-if="entityCapabilities.entity.indexOf('List') < 0">{{entity.label}}</a>
                            <span class="arrow"
                                ng-if="entityMenus">
                            </span>
                            <ul class="category-links" ng-if="entityMenus">
                                <li ng-if="entityMenus.creation" >
                                    <a ng-click="create()" title="Create">Create</a>
                                </li>
                                <li ng-repeat="action in entityActions" ng-if="entityMenus.actions" >
                                    <a ng-click="performEntityAction(entity, action)" title="{{action.label}}">{{action.label}}</a>
                                </li>
                                <li ng-repeat="query in queries" ng-if="entityMenus.queries"> 
                                    <a 
                                        ng-if="entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0"
                                        ng-click="performEntityQuery(entity, query)" title="{{query.label}}">{{query.label}}</a> 
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mega Menu -->
            <div class="megamenu">
                <ul class="nav">
                    <li class="simple-dropdown" ng-repeat="entity in entities" ng-if="!entity.forbidden && entity.concrete && entity.topLevel && entityCapabilitiesByName[entity.fullName]"
                        ng-init="entityCapabilities = entityCapabilitiesByName[entity.fullName]; entityActions = kirraNG.getEntityActions(entity); queries = kirraNG.getQueries(entity)">
                        <a ng-click="unfiltered(entity)" ng-if="entityCapabilities.entity.indexOf('List') >= 0">{{entity.label}}</a>
                        <a ng-if="entityCapabilities.entity.indexOf('List') < 0">{{entity.label}}</a>
                        <div class="sub-menu">
                            <ul class="category-links">
                                <li ng-if="entity.instantiable && entityCapabilities.indexOf('Create') >= 0" >
                                    <a ng-click="create()" title="Create">Create</a>
                                </li>
                                <li ng-repeat="action in entityActions" ng-if="entityCapabilities.actions[action.name].indexOf('StaticCall') >= 0" >
                                    <a ng-click="performEntityAction(entity, action)" title="{{action.label}}">{{action.label}}</a>
                                </li>
                                <li ng-if="entityCapabilities.entity.indexOf('List') >= 0"> 
                                    <a ng-click="unfiltered(entity)" title="All">All</a> 
                                </li>
                                <li ng-repeat="query in queries" ng-if="entityCapabilities.queries[query.name].indexOf('StaticCall') >= 0"> 
                                    <a ng-click="performEntityQuery(entity, query)" title="{{query.label}}">{{query.label}}</a> 
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- DEBUG EMBEDDED-->
                <div style="display: none">
                    <div ng-repeat="entity in entities">
                        <p>Entity: {{entity.fullName}}</p>
                        <div ng-init="queries = kirraNG.getQueries(entity)">
                            <div ng-repeat="query in queries" ng-init="entityCapabilities = entityCapabilitiesByName[entity.fullName]">
                                <p>{{query.label}} = {{entityCapabilities.queries[query.name]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mega Menu -->            
        </div>
    </div>
</header>
<!-- /Header -->




























