<div class="container" ng-init="metadata = custom.metadata" ng-repeat="order in custom.data">
    <div class="row">
        <div class="col-sm-8">
            <h2>{{kirraNG.getAppLabel('order.your_order', { orderNumber: order.orderNumber, orderStatus: order.orderStatus })}}</h2>
            <blockquote ng-if="order.orderStatusHelp">{{order.orderStatusHelp}}</blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{kirraNG.getAppLabel('order.details')}}</h3>
            </div>        
            <div class="panel-body">
                <instance-details class="form-horizontal"
                    embedded-instance="raw"
                    embedded-field-values="fieldValues"
                    embedded-view-fields="viewFields"
                    embedded-entity="entity"
                    embedded-object-id="objectId",
                    embedded-field-selection="[metadata.slots.orderDate, metadata.slots.confirmationDate, metadata.slots.orderStatus]"
                    embedded-filter-null-values="true"
                    embedded-border="true">
                </instance-details>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="cart-table ">
                <div class="table-header">
                    <div class="photo">
                        {{metadata.edges.orderItems.slots.productImage.label}}
                    </div>
                    <div class="name">
                        {{metadata.edges.orderItems.slots.productName.label}}
                        ({{metadata.edges.orderItems.slots.productUnit.label}})
                    </div>
                    <div class="price">
                        {{metadata.edges.orderItems.slots.productUnitPrice.label}}
                    </div>
                    <div class="qty">
                        {{metadata.edges.orderItems.slots.quantity.label}}
                    </div>
                    <div class="subtotal" ng-if="metadata.edges.orderItems.slots.subtotal">
                        {{metadata.edges.orderItems.slots.subtotal.label}}
                    </div>
                </div>
                <div class="table-row" ng-repeat="orderItem in custom.edgeData.orderItems track by $index">
                    <div class="photo">
                        <ka-data grid=true size="'tiny'" slot="metadata.edges.orderItems.slots.productImage" slot-data="orderItem.productImage" object-id="orderItem.objectId">
                        </ka-data>
                    </div>
                    <div class="name">
                        <a ui-sref="cart:Product:show({ objectId: '{{orderItem.productObjectId}}' })">
                        {{orderItem.productName}}
                        </a> ({{orderItem.productUnit}})
                    </div>
                    <div class="price">
                        {{orderItem.productUnitPrice | currency:"R$":2}}
                    </div>
                    <div class="qty">
                        {{orderItem.quantity}}
                    </div>
                    <div class="subtotal" ng-if="metadata.edges.orderItems.slots.subtotal">
                        {{orderItem.subtotal | currency:"R$":2}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="total-price">
                <tr>
                    <td>{{metadata.slots.subtotal.label}}</td>
                    <td>{{order.subtotal | currency:"R$":2}}</td>
                </tr>
                <tr ng-if="metadata.slots.extra">
                    <td>{{metadata.slots.extra.label}}</td>
                    <td>{{order.extra | currency:"R$":2}}</td>
                </tr>
                <tr class="total">
                    <td>{{metadata.slots.total.label}}</td>
                    <td>{{order.total | currency:"R$":2}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" ng-if="order.note">
        <div class="col-md-12">
            <h3>{{metadata.slots.note.label}}</h3>
            <label>{{metadata.slots.note.description}}</label>
            <textarea class="form-control" disabled>
            {{order.note}}
            </textarea>
        </div>
    </div>
</div>