<div class="container" ng-init="metadata = custom.metadata" ng-repeat="cart in custom.data" ng-if="custom.data[0].itemCount">
    <div class="cart-table">
        <div class="table-header">
            <div class="photo">
                {{metadata.edges.cartItems.slots.productImage.label}}
            </div>
            <div class="name">
                {{metadata.edges.cartItems.slots.productName.label}}
                ({{metadata.edges.cartItems.slots.productDescription.label}})
            </div>
            <div class="price">
                {{metadata.edges.cartItems.slots.unitPrice.label}}
            </div>
            <div class="qty">
                {{metadata.edges.cartItems.slots.quantity.label}}
            </div>
            <div class="subtotal" ng-if="metadata.edges.cartItems.slots.subtotal">
                {{metadata.edges.cartItems.slots.subtotal.label}}
            </div>
            <div class="remove">
                <span class="hidden-sm hidden-xs">Remove</span>
            </div>
        </div>
        <div class="table-row" ng-repeat="cartItem in custom.edgeData.cartItems track by $index">
            <div class="photo">
                <ka-data grid=true size="'tiny'" slot="metadata.edges.cartItems.slots.productImage" slot-data="cartItem.productImage" object-id="cartItem.objectId">
                </ka-data>
            </div>
            <div class="name">
                <a ui-sref="cart:Product:show({ objectId: '{{cartItem.productObjectId}}' })">
                {{cartItem.productName}}
                </a> ({{cartItem.productDescription}})
            </div>
            <div class="price">
                {{cartItem.unitPrice | currency:"R$":2}}
            </div>
            <div class="qty qty-changer">
                <fieldset>
                    <input type="button" value="&#8210;" class="decrease" ng-click="cartItem.less()">
                    <input type="text" readonly class="qty-input" ng-model="cartItem.quantity" data-min="0">
                    <input type="button" value="+" class="increase" ng-click="cartItem.more()">
                </fieldset>
            </div>
            <div class="subtotal" ng-if="metadata.edges.cartItems.slots.subtotal">
                {{cartItem.subtotal | currency:"R$":2}}
            </div>
            <div class="remove">
                <a ng-click="cartItem.removeItem()" class="icon icon-close-2"></a>
            </div>
        </div>
        <div class="table-footer">
            <button class="btn btn-alt pull-right" ng-click="cart.emptyCart()"><i class="icon icon-bin"></i><span>{{metadata.instanceActions.emptyCart.label}}</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 total-wrapper">
            <table class="total-price">
                <tr>
                    <td>{{metadata.slots.subtotal.label}}</td>
                    <td>{{cart.subtotal | currency:"R$":2}}</td>
                </tr>
                <tr ng-if="metadata.slots.extra">
                    <td>{{metadata.slots.extra.label}}</td>
                    <td>{{cart.extra | currency:"R$":2}}</td>
                </tr>
                <tr class="total">
                    <td>{{metadata.slots.total.label}}</td>
                    <td>{{cart.total | currency:"R$":2}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="cart-action">
                <div>
                    <button class="btn btn-alt" ui-sref="cart:Product:list" ka-label element="cart.Product.list">{{elementLabel}}</button>
                    <button class="btn btn-primary" ng-click="cart.checkOut()">{{metadata.instanceActions.checkOut.label}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<main class="page-main" ng-if="custom.data[0].itemCount == 0">
    <div class="block fullheight empty-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">        
                    <div class="image-empty-cart">
                        <img ng-src="{{kirraNG.getImageUrl('images/empty-basket.png')}}" alt="">
                        <div class="text-empty-cart-1">{{kirraNG.getAppLabel('cart.cart_empty_1')}}</div>
                        <div class="text-empty-cart-2">{{kirraNG.getAppLabel('cart.cart_empty_2')}}</div>
                    </div>
                    <div>
                        <a class="btn" ui-sref="cart:Product:list"><ka-label element="cart.Product.list"/></a>
                    </div>
                </div>
        </div>
   </div>
</main>